.stl-player-list-header {
    display: grid;
    margin: 20px 0 10px 0;
    grid-template-areas: 'heading add-player';

    .stl-player-list-heading {
        grid-area: heading;
        font-size: 18px;
    }

    .stl-player-list-add-player {
        grid-area: add-player;
        justify-self: end;
    }
}

.table-section {
    font-size: 13px;

    img {
        width: 30px;
        height: 15px;
    }
} 


app-stl-player {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    
}
app-dynamic-form {
    width: 600px;
    height: 900px;
    margin: 0 auto;
}
.form-group {
    display: flex;
    flex-direction: column;
}
