@mixin rgba($type, $color, $percentage: 1) {
    @if $type == color {
      	color: rgba($color, $percentage);
    }
    @if $type == bg {
      	background-color: rgba($color, $percentage);
    }
    //create halves
    @if $type == color-half {
      	color: rgba($color, $percentage/2);
    }
    @if $type == bg-half {
     	background-color: rgba($color, $percentage/2);
    }
}

@mixin border($type, $width, $style, $color, $percentage: 1) {
    @if $type == b {
		border: $width $style rgba($color, $percentage);
	}
    @if $type == bt {
        border-top: $width $style rgba($color, $percentage);
    }
    @if $type == bb {
        border-bottom: $width $style rgba($color, $percentage);
    }
    @if $type == bl {
        border-left: $width $style rgba($color, $percentage);
    }
    @if $type == br {
        border-right: $width $style rgba($color, $percentage);
    }
}

// CSS Grid display
@mixin grid() {
	display: -ms-grid;
	display: grid;
}

// CSS Inline-Grid display
@mixin inlineGrid() {
	display: -ms-inline-grid;
	display: inline-grid;
}

// Self Alignment
// flex-start | flex-end | center | space-between | space-around 
@mixin justify-self($justify) {
	-webkit-justify-self: $justify;
	   -moz-justify-self: $justify;
		-ms-justify-self: $justify;
			justify-self: $justify;
}

// Cross-axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | baseline | stretch 
@mixin align-items($align) {
	-webkit-align-items: $align;
	   -moz-align-items: $align;
		-ms-align-items: $align;
			align-items: $align;
}

// Flexbox display
@mixin flexbox() {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
