<div class="col-lg-12">
	<div class="container">
		<div class="stl-page-heading">
			<div class="stl-page-heading-title">
				<h1>TLM&trade; Admin Form</h1>
				<ol class="breadcrumb">
					<li>
						<a ui-sref="main" id="lnkWorkflowsBrowserHome" href="javascript:;">
							Home
						</a>
						<i class="fa fa-circle"></i>
					</li>
					<li class="active">
						<strong>Form</strong>
					</li>
				</ol>
				<span class="top-buttons">
					<button class="btn btn-md btn-create-new"
						 [disabled]="!assetForm.valid"
						 (click)="submitAsset()"
						 id="btnCreateDataSource"><i class="fa fa-fw fa-plus"></i> Save
					</button>
				</span>
			</div>
		</div>

		<form class="stl-form" (ngSubmit)="submitAsset()" [formGroup]="assetForm">
			<stl-form-field [label]="'name'" [name]="'name'" [form]="assetForm">
				<input formControlName="name" type="text" id="name">
			</stl-form-field>

			<stl-form-field [label]="'alterEgo'" [name]="'alterEgo'" [form]="assetForm">
				<ng-select formControlName="alterEgo" [searchable]="false" labelForId="alterEgo">
					<ng-template ng-label-tmp let-item="item" let-label="label">
						<img *ngIf="item" src="assets/img/{{item}}.png" width="20px" height="20px" /> {{label}}
					</ng-template>
					<ng-option value="batman">Batman</ng-option>
					<ng-option value="spidey">Spider-Man</ng-option>
					<ng-option value="thor">Thor</ng-option>
				</ng-select>
			</stl-form-field>
			<stl-form-field [label]="'Currency List'" [name]="'currencyList'" [form]="assetForm">
				<ng-select [items]="currencyList" formControlName="currency" labelForId="currencyList" bindLabel="name">
					<ng-template ng-option-tmp let-item="item" let-index="index" let-label="label">
						<div class="stl-template-dropdown">
							<ng-option class="temp-value" [innerHTML]="item.value"></ng-option>
							<span class="temp-name">{{item.name}}</span>
							<span class="temp-desc">{{item.description}}</span>
						</div>
					</ng-template>
				</ng-select>
			</stl-form-field>

			<label>Date Time:</label>
			<input class="stl-date-picker" [owlDateTimeTrigger]="dt7" [owlDateTime]="dt7">
    		<owl-date-time [startAt]="startAt" #dt7></owl-date-time>
			
			<div class="row">
				<stl-form-field [class]="''" [form]="assetForm" [label]="'I am shopping'" [name]="'shopping'">
					<input formControlName="shopping" value="1" type="radio" />
				</stl-form-field>
				<stl-form-field [form]="assetForm" [class]="''" [label]="'Window shopping'" [name]="'shopping'">
					<input formControlName="shopping" value="0" type="radio" />
				</stl-form-field>
			</div>
			<div class="table-section" [hidden]="assetForm.controls.shopping.value == '0'">
				<div class="table-section-title">
					<div class="col-md-3">Item Name</div>
					<div class="col-md-3">Item Description</div>
					<div class="col-md-3">Item Price</div>
					<div class="col-md-3">Actions</div>
				</div>
				<div class="form-group" formArrayName="items"
					*ngFor="let item of assetForm.get('items').controls; let i = index;">
					<div class="" [formGroupName]="i">
						<input class="col-md-3"  formControlName="description" placeholder="Item description">
						<input class="col-md-3" type="number"  formControlName="price" placeholder="Item price">
						<input class="col-md-3" formControlName="name" placeholder="Item name">
						<span class="col-md-3">
							<button class="btn btn-success" (click)="addItem()"> + </button>
							<button class="btn btn-cancel" (click)="removeItem(i)"> - </button>
						</span>
					</div>
				</div>
			</div>
			<stl-tabbed-groups></stl-tabbed-groups>
		</form>
		<pre *ngIf="!assetForm.invalid">Form value: {{ assetForm.value | json }}</pre>
	</div>
</div>
