<div class="col-lg-12">
  <div class="container">
    <h1>Set Admin Form</h1>
    <form (ngSubmit)="submitAsset()" [formGroup]="assetForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input formControlName="name" type="text" class="form-control" id="name">
        <div *ngIf="name.invalid && (name.dirty || name.touched)"
          class="alert alert-danger">
          <div *ngIf="name.errors.required">
            Name is required.
          </div>
          <div *ngIf="name.errors.minlength">
            Name must be at least 4 characters long.
          </div>
          <div *ngIf="name.errors.forbiddenName">
            Name cannot be Bob.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="alterEgo">Alter Ego</label>
        <ng-select  formControlName="alterEgo" [searchable]="false" labelForId="alterEgo">
            <ng-template ng-label-tmp let-item="item" let-label="label">
                <img *ngIf="item" src="assets/img/{{item}}.png" width="20px" height="20px" /> {{label}}
            </ng-template>
            <ng-option value="batman">Batman</ng-option>
            <ng-option value="spidey">Spider-Man</ng-option>
            <ng-option value="thor">Thor</ng-option>
        </ng-select>
      </div>
      <div class="form-group">
        <label for="alterEgo">Asset Entry Date</label>
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd"
                  name="assetEntryDate" formControlName="assetEntryDate" ngbDatepicker #assetEntryDate="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="assetEntryDate.toggle()" type="button">
              <img src="../assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
            </button>
          </div>
        </div>

      </div>
      <div class="form-group">
        <label for="currency">currency</label>
        <ng-select  formControlName="currency" [searchable]="false" labelForId="currency">
            <ng-template ng-label-tmp let-item="item" let-label="label">
               {{item}} {{label}}
            </ng-template>
            <ng-option value="&#36;">Dollar</ng-option>
            <ng-option value="&#128;">Euro</ng-option>
            <ng-option value="&#163;">Pound</ng-option>
        </ng-select>


      </div>
      <div class="form-group" formArrayName="items"
        *ngFor="let item of assetForm.get('items').controls; let i = index;">
        <div class="" [formGroupName]="i">
          <label class="col-md-3" for="currency">Item for Shopping: {{ assetForm.controls.items.controls[i].controls.name.value }} </label>
          <input  class="col-md-3"  formControlName="description" placeholder="Item description">
          <input  class="col-md-3" type="number"  formControlName="price" placeholder="Item price">
          <input  class="col-md-3" formControlName="name" placeholder="Item name">
        </div>
      </div>
      <button class="btn btn-secondary" (click)="addItem()"> Add Item </button>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
    <pre *ngIf="!assetForm.invalid">Form value: {{ assetForm.value | json }}</pre>
  </div>
</div>



