@import '../../scss/variables';
@import '../../scss/mixins';


.stl-form-input-selection {
    margin-top: 15px;
    
    .radio-label {
        display: block;
        position: relative;
        font-weight: 400;
        padding-left: 30px;
        margin-bottom: 15px;

        /* Hide the browser's default radio button */
        input {
            position: absolute;
            opacity: 0;

            /* When the radio button is checked, add a blue background */
            &:checked ~ .checkmark {
                @include rgba(bg, $white);
                @include border(b, 1px, solid, $light-blue);
            }

            /* Show the indicator (dot/circle) when checked */
            &:checked ~ .checkmark::after {
                display: block;
            }
        }

        /* Create a custom radio button */  
        .checkmark {
            @include border(b, 1px, solid, $border-grey);
            @include rgba(bg, $white);
            position: absolute;
            top: 0;
            left: 0;
            height: 19px;
            width: 19px;
            cursor: pointer;
            border-radius: 50%;

            /* On mouse-over, add a light blue border */
            &:hover {
                @include border(b, 1px, solid, $light-blue);
            }

            /* Create the indicator (the dot/circle - hidden when not checked) */
            &::after {
                display: none;
                @include rgba(bg, $light-blue);
                position: absolute;
                border-radius: 50%;
                height: 10px;
                width: 10px;
                content: "";
                left: 3px;
                top: 3px;
            }
        }
    }
}
