<div>
  <form (ngSubmit)="onSubmit()" [formGroup]="CustomerDetailform">
    <div  *ngIf="questions.length">
      <div *ngFor="let question of questions" class="col-md-12">
        <div class="form-group">
          <stl-df-question [question]="question" [form]="CustomerDetailform"></stl-df-question>
        </div>
      </div>
    </div>
    <div >
      <button routerLink="/players"  type="button" class="btn btn-pm">
          Cancel
      </button>
      <button  type="submit" [disabled]="!CustomerDetailform.valid" class="btn btn-pm">
          Add Player
      </button>
    </div>
   </form>
</div>


